[[constraint]]
  branch = "master"
  name = "github.com/mitchellh/go-homedir"

[[constraint]]
  name = "github.com/spf13/cobra"
  version = "0.0.3"

[[constraint]]
  name = "github.com/spf13/viper"
  version = "1.0.2"

[prune]
  go-tests = true
  unused-packages = true

[[constraint]]
  name = "github.com/dgraph-io/badger"
  version = "1.5.1"

[[constraint]]
  name = "github.com/sirupsen/logrus"
  version = "1.0.5"


[[constraint]]
  name = "github.com/gin-gonic/gin"
  revision = "6d913fc343cfac80d656db5be67a0ffb1323ba0d"

[[constraint]]
  name = "github.com/gobuffalo/packr"
  version = "1.11.1"
